<!DOCTYPE html>
<html class="dashboard" ng-app="thanku">
<head lang="en">
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="css/vendor/toastr.css" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/dashboard.css">
</head>
<body class="row no-margin-lr" ng-cloak>
    <div class="col-lg-12 col-md-12 container-fluid">
        <header class="padded">
            <nav class="navbar navbar-default">
                <a class="navbar-header" target="_self">
                    <img class="img img-responsive logo" src="img/logo.PNG" alt="Thanku" />
                </a>
                <div class="display-block pull-right">
                    <!--<span class="glyphicon glyphicon-user"></span>-->
                    <!--<span>-->
                        <!--{{username}}-->
                    <!--</span>-->
                </div>
            </nav>
        </header>
        <div class="row dashboard padded no-margin-lr">
            <div class="col-lg-3 col-md-3 dashboard-view user-list" ng-controller="UserListController" ng-init="init()">

                <h3 class="text-center">
                    User List
                </h3>
                <hr/>
                <input type="text" ng-model="userFilter" placeholder="Search. . ." value="" style="width: 100%; margin-bottom: 5px" />
                <br/>
                <div class="no-user-found" ng-hide="filteredUser.length">
                    <p class="text-center">
                        No user found. . .
                    </p>
                </div>
                <div class="row user-box-wrapper">
                    <div class="col-lg-11 col-md-11 user-box padded" ng-repeat="user in filteredUser = (userList | filter:{first_name:userFilter})">
                        <div class="row">
                            <div class="col-lg-5 col-md-5">
                                <img class="img img-responsive user-image" ng-src="{{user.image_url}}" />
                            </div>
                            <div class="col-lg-7 col-md-7 position-relative">
                                <div class="row user-name">
                                    {{user.first_name}}
                                </div>
                                <div class="row user-vote-btn">
                                    <div class="col-lg-4 col-md-4 no-padding-lr">
                                        <button class="btn btn-responsive btn-primary"  type="button" data-toggle="modal" data-target=".mini-modal-sm" ng-click="vote(user, 1)">
                                            <!--<span class="glyphicon glyphicon-star"></span>-->
                                            <div class="logo-vote"></div>
                                        </button>
                                    </div>
                                    <div class="col-lg-8 col-md-8 no-padding-lr">
                                        <button class="btn btn-responsive btn-primary"  type="button" data-toggle="modal" data-target=".mini-modal-sm" ng-click="vote(user, 2)">
                                            <!--<span class="glyphicon glyphicon-star"></span>-->
                                            <!--<span class="glyphicon glyphicon-star"></span>-->
                                            <div class="logo-vote"></div>
                                            <div class="logo-vote"></div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade mini-modal-sm" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <form>
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h3 class="modal-title" id="modalLabel">Why oh! Why?</h3>
                                </div>
                                <div class="modal-body">
                                    <h4>
                                        Message for {{ recipient.first_name }}
                                        <small>
                                            <em class="pull-right">
                                                +{{pointsGiven}} point(s)!
                                            </em>
                                        </small>
                                    </h4>
                                    <textarea ng-model="message" name="message" id="" cols="30" rows="5" required="required"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Ooppps Sorry.</button>
                                    <button type="submit" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="submitVote()">Are you sure? YES!</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 dashboard-view news-feed" ng-controller="NewsFeedController" ng-init="init()">
                <h3 class="text-center">
                    News Feed
                </h3>
                <hr/>
                <div class="news-feed-wrapper well" ng-show="newsFeed.length">
                    <div class="panel panel-primary" ng-repeat="nf in newsFeed | orderBy:'-timestamp'">
                        <div class="panel-heading">
                            <div class="panel-title">
                                {{nf.user.first_name}} gave thanks!
                                <small class="pull-right">
                                    <em>
                                        {{getMomentTime(nf.timestamp)}}
                                    </em>
                                </small>
                            </div>
                        </div>
                        <div class="panel-body">
                            {{nf.message}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 dashboard-view top-three">
                <h3 class="text-center">
                    Top 3
                </h3>
                <hr/>
                <h3>Will appear in due time. :D</h3>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-route.min.js"></script>
    <script src="js/vendor/restangular.js"></script>
    <script src="js/vendor/moment.js"></script>
    <script src="js/vendor/toastr.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
