<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Thank u</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="css/vendor/toastr.css" />
</head>
<body ng-app="thanku">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    <div class="container-fluid col-lg-12 col-md-12 img-background">
        <div id="formWrapper" class="col-lg-6 col-md-6 center-block">
            <div class="row ad-m-t-80">
                <div class="col-lg-10 col-lg-offset-1 login-panel">
                    <div class="row ">
                        <div class="col-lg-12 logo-img">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 form-panel" ng-controller="LoginController">
                            <div class="row" name="loginForm" novalidate ng-init="init()">
                                <div class="form-group col-lg-12">
                                    <input class="form-control login-username" type="text" ng-model="username" id="inputUsername" placeholder="Username" required>
                                    <input class="form-control login-password" type="password" ng-model="password" id="inputpassword" placeholder="Password" required>
                                    <p class="login-error-msg" ng-hide="usernameError == null">{{usernameError}}</p>
                                    <p class="login-error-msg" ng-hide="passwordError == null">{{passwordError}}</p>
                                    <button class="btn login-btn primary center-block" ng-click="login()" type="button">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-route.min.js"></script>
    <script src="js/vendor/restangular.js"></script>
    <script src="js/vendor/moment.js"></script>
    <script src="js/vendor/toastr.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
